<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #24478b;
        color: #fafcfc;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    h2 {
        font-size: 25px;
        margin-top: 15px;
        color: #fafcfc;
    }

    .inicio-container {
        text-align: center;
        max-width: 600px;
        padding: 20px;
    }
</style>

<body>
    <div class="inicio-container">
        <h2><%=user%></h2>
        <h2><%=rol%></h2>
        <img class="inicio-imagen" src="https://i0.wp.com/esenciademarketing.es/wp-content/uploads/2018/05/maria-oriza-spain-business-school-mensaje-bienvenida-email-marketing.jpg?resize=1200%2C800&ssl=1" style="width: 600px; height: 400px;" alt="Imagen de bienvenida">
    </div>
</body>
</html>